@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i&display=swap');

@mixin placeholder-font($font-family) {
  .mainLoginInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: $font-family;
    opacity: 1; /* Firefox */
  }

  .mainLoginInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: $font-family;
  }

  .mainLoginInput::-ms-input-placeholder { /* Microsoft Edge */
    font-family: $font-family;
  }
}

:host {
  display: block;
}

input {
  $font-family: 'Montserrat', sans-serif;

  border: none;
  font-size: 10rem;
  outline: none;
  margin-top: 30vh;

  font-family: $font-family;

  transition: all 0.3s;

  @include placeholder-font($font-family);
}

input.folded {
  font-size: inherit;
  margin-top: 0;
}
